
#body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(239, 239, 239);

}

#banner{
    background-image: url(images/banner.jpg);
    background-position: center;
    background-repeat: initial;
    background-size: cover;
    height: 15vh;
    min-height: 80px;
}

#logo{
    width: max-content;
    height: max-content;
    vertical-align: middle;
    align-items: flex-start;

}

#menu-up{
    vertical-align: middle;
    display: flex;
    background-color: rgb(234, 234, 234);
    height: 7vh;
    max-height: 80px;
    min-height: 40px;
}



.menu-up-button{
    height: 100%;
    width: 1fr;
    margin: auto;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.menu-up-button-text{ 
    color: black;
    font-weight: bolder;
    font-family: Arial black;
    font-size: 1.5vw;
    text-decoration: none;
}


#central-container{
    display: flex;
    word-wrap: break-word;
    width: 100%;
    height: 78vh;
}

#menu-aside{
    height: 78vh;
    width: 10%;
    height: min-content;
    padding: auto;
}

#menu-aside-button-area{
    width: 100%;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.menu-aside-button{
    height: 7vh;
    max-height: 80px;
    min-height: 40px;
    margin: auto;
    align-content: center;
    display: block;
}

.menu-aside-button-text{
    color: black;
    font-weight: bolder;
    font-family: Arial black;
    font-size: 1.3vw;
    text-decoration: none;
}

#menu-aside-shower{
    margin: 0;
    align-content: flex-start;
    display: block;
    width: min-content;
}

#menu-aside-shower-text{
    text-align: left;
    vertical-align: top;
    color: black;
    font-weight: bolder;
    font-family: Arial black;
    font-size: 2.5vw;
    text-decoration: none;
    margin: 0;
    margin-right: none;
    background-color: rgb(234, 234, 234);
    height: min-content;
    width: min-content;
    border-bottom-right-radius: 0.8vw;
}


#content{
    width: 100%;
    text-align: left;
    display: flex;
    word-wrap: break-word;
}

#text-content{
    width: 100%;
    word-wrap:break-word;
    text-align: left;
}

#footer{

}

.full-width-element{
    width: 100%;
    margin: 0;
    padding: 0; 
}
