
#body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: rgb(239, 239, 239);

}

#banner{
    background-image: url(images/banner.jpg);
    background-position: center;
    background-repeat: initial;
    background-size: cover;
}

#logo{
    width: max-content;
    height: max-content;
    vertical-align: middle;
    align-items: flex-start;

}

#menu-up{
    vertical-align: middle;
    display: flex;
    background-color: rgb(234, 234, 234);
    height: 7vh;
    max-height: 80px;
    min-height: 40px;
}

#menu-aside{

}

#content{

}

#footer{

}

.menu-up-button{
    height: 100%;
    width: 1fr;
    margin: auto;
    background-color: rgb(234, 234, 234);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.menu-up-button-text{ 
    color: black;
    font-weight: bolder;
    font-family: Arial black;
    font-size: 1.7vw;
    text-decoration: none;
}

.full-width-element{
    width: 100%;
    margin: 0;
    padding: 0; 
}
